<a href="https://colab.research.google.com/github/tamla0921/PythonColab/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 타입

* 숫자 타입
  * `int`: 정수
  * `float`: 실수

* 문자열 타입
  * `str`

* 논리 타입
  * `bool`: True 또는 False

* 객체 타입

파이썬은 변수를 선언할 때 자료 타입을 명시하지 않음!
변수의 자료 타입은 코드가 실행될 때 결정됨.

In [ ]:
# 주석(comment)
# 변수_이름 = 값
n = 123
print(n)
print(type(n)) # type(arg): arg의 자료 타입을 리턴.

123
<class 'int'>

In [ ]:
n = 3.14
print(type(n))

<class 'float'>

식(expression): 값, 변수, 계산식(연산), 함수 호출.

문장(statement): 코드의 최소 실행 단위.

ipynb(IPython notebook) 코드셀에서 가장 마지막 줄에 있는 문장이 식(expression)이면, 그 식을 평가한 결과를 콘솔 창에 출력

In [ ]:
x = 1
y = 2
# print(x + y)
x + y

3

## 명시적 타입 변환

* `int(값)`: 값을 정수 타입으로 변환해서 리턴.
* `float(값)`: 값을 실수 타입으로 변환해서 리턴.
* `str(값)`: 값을 문자열로 변환해서 리턴.

In [ ]:
# colab 노트북의 콘솔에서 입력 받는 방법:
n = input('정수 입력>>>')

정수 입력>>>10

In [ ]:
type(n)

str

In [ ]:
n = int(n) # 변수 n의 타입을 int 타입으로 변환한 후 n에 저장.
# 위 줄은 문장이므로 ipynb에서 자동으로 출력 X.

# 산술 연산자

종류: `+, -, *, /, //, %, **`

* `/`: 소수점까지 계산하는 나눗셈.
* `//`: 몫
* `%`: 나머지
* `**`: 거듭 제곱

In [ ]:
10 / 3

3.3333333333333335

In [ ]:
10 // 3

3

In [ ]:
10 % 3

1

In [ ]:
10 ** 3 # 10 * 10 * 10

1000

In [ ]:
10 ** -1

0.1

## 문자열(str) 타입에서 사용할 수 있는 산술 연산자.

* `+`: concatenate. 문자열 이어 붙이기
* `*`: replicate. 문자열 복제

In [ ]:
'Hello' + 'Python'

'HelloPython'

In [ ]:
'Hello' * 5

'HelloHelloHelloHelloHello'

# 비교 연산자와 논리 연산자

* 비교 연산자: `==, !=, >, >=, <, <=`
* 논리 연산자: `and, or, not`

In [ ]:
x = 100

In [ ]:
(x > 50) and (x < 150)

True

In [ ]:
50 < x < 150

True

# Ex 1. 조건문

* 3개의 정수를 입력받고 각각 변수에 저장.
* 3개 정수의 평균을 소수점까지 계산하고 출력.
* 평균이 90 이상이면 A, 80 이상이면 B, 70 이상이면 C, 70 미만이면 F를 출력

In [ ]:
a = int(input('첫 번째 점수를 입력하세요: '))
b = int(input('두 번째 점수를 입력하세요: '))
c = int(input('세 번째 점수를 입력하세요: '))

avg = (a + b + c) / 3

print('시험의 평균은...', avg, '점 입니다.')
print('시험의 평균은... {}점 입니다.'.format(avg))
print(f'시험의 평균은... {avg}점 입니다.')

if (avg >= 90):
    print('학점은 A!')
elif (avg >= 80):
    print('학점은 B!')
elif (avg >= 70):
    print('학점은 C!')
else:
  print('학점은 F...')

첫 번째 점수를 입력하세요: 100
두 번째 점수를 입력하세요: 100
세 번째 점수를 입력하세요: 80
시험의 평균은... 93.33333333333333 점 입니다.
시험의 평균은... 93.33333333333333점 입니다.
시험의 평균운... 93.33333333333333점 입니다.
학점은 A!

Ex 2. 반복문

* 구구단 12단(12x1, ... , 12x12)을 출력

In [ ]:
for i in range(1, 13):
  print('12 * {} ='.format(i), 12 * i)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [ ]:
for i in range(1, 13):
  print(f'12 * {i} = {12 * i}')

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [ ]:
for i in range(1, 13):
  print('12 X', i, '=', 12 * i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144